<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="~/Admin/img/logo/logo.png" rel="icon">
  <title>RuangAdmin - Blank Page</title>
  <link href="~/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="~/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="~/Admin/css/ruang-admin.min.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
  
  <!-- Sidebar -->
  <partial name="_SideBarAdmin"/>
  <!-- Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      @await Component.InvokeAsync("SiteHeaderAdmin")
      <!---Container Fluid-->
      @RenderBody()
    </div>
    <!-- Footer -->
    @await Component.InvokeAsync("SiteFooterAdmin")
    <!-- Footer -->
    <script>
      tinymce.init({
        selector: 'textarea#tiny',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
      });
    </script>
  </div>
</div>

<!-- Scroll to top -->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<script src="~/Admin/vendor/jquery/jquery.min.js"></script>
<script src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/Admin/js/ruang-admin.min.js"></script>
</body>
</html>