
<div>
    <div id="product1" class="d-flex flex-column flex-md-row justify-content-around mb-md-3">
        <div class="card col-md-3 my-2 my-md-0">
            <img src="~/Images/Product/71d5fMDvq9L._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ut.</p>
                <span class="text-black-50 d-flex flex-row justify-content-between">50000.12$ <small class="badge rounded-pill bg-danger"> off</small></span>
            </div>
        </div>
        <div class="card col-md-3 my-2 my-md-0">
            <img src="~/Images/Product/71d5fMDvq9L._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ut.</p>
                <span class="text-black-50  d-flex flex-row justify-content-between">50000.12$ <small class="badge rounded-pill bg-danger"> off</small></span>
            </div>
        </div>
        <div class="card col-md-3 my-2 my-md-0">
            <img src="~/Images/Product/71d5fMDvq9L._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ut.</p>
                <span class="text-black-50  d-flex flex-row justify-content-between">50000.12$ <small class="badge rounded-pill bg-danger"> off</small></span>
            </div>
        </div>
    </div>

    <div id="product2" class="d-flex flex-column flex-md-row justify-content-around mb-md-3">
        <div class="card col-md-3 my-2 my-md-0">
            <img src="~/Images/Product/71d5fMDvq9L._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ut.</p>
                <span class="text-black-50 d-flex flex-row justify-content-between">50000.12$ <small class="badge rounded-pill bg-danger"> off</small></span>
            </div>
        </div>
        <div class="card col-md-3 my-2 my-md-0">
            <img src="~/Images/Product/71d5fMDvq9L._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ut.</p>
                <span class="text-black-50  d-flex flex-row justify-content-between">50000.12$ <small class="badge rounded-pill bg-danger"> off</small></span>
            </div>
        </div>
        <div class="card col-md-3 my-2 my-md-0">
            <img src="~/Images/Product/71d5fMDvq9L._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ut.</p>
                <span class="text-black-50  d-flex flex-row justify-content-between">50000.12$ <small class="badge rounded-pill bg-danger"> off</small></span>
            </div>
        </div>
    </div>
</div>